html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden;
}
#right-menu-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: white;
    z-index: 400;
    border-radius: 10px 0 0 10px;
    transition: right 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#right-menu-box.hidden {
    right: -20%;
}
#right-button-menu {
    position: absolute; 
    top: 50%; 
    left: -3%; 
    transform: translate(-50%, -50%); 
    width: 25px; 
    height: 100px; 
    background-color: white;
    z-index: 00;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}
#right-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#right-menu li {
    margin-bottom: 10px;
}

#right-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

#right-menu a:hover {
    color: #007BFF;
}

#right-menu {
    padding: 20px;
}

#map {
    height: 100vh; 
}

@media only screen and (max-width: 768px) {
    #map {
        touch-action: none;
    }
}


.custom-context-menu {
    border-radius: 4px; 
    padding: 0;
    list-style: none; 
    margin: 0;
    max-width: 200px; 
}

.custom-context-menu li {
    margin-bottom: 6px; 
}

.custom-context-menu a {
    color: #333 !important; 
    text-decoration: none; 
    display: block;
    padding: 8px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.custom-context-menu a:hover {
    background-color: #f0f0f0; 

}

#menuButton {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 9999;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

#menu.hidden {
    transform: translateX(100%);
}
